.center-text {
  text-align: center !important;
}

.margin-top-huge {
  margin-top: 10rem !important;
}

.margin-top-big {
  margin-top: 8rem !important;
}

.margin-top-medium {
  margin-top: 6rem !important;
}

.margin-top-small {
  margin-top: 2rem !important;
}

.margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.margin-bottom-medium {
  margin-bottom: 6rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.margin-bottom-small {
  margin-bottom: 2rem !important;
}

.grid {
  display: grid;
  gap: 6rem;
  max-width: 114rem;
  margin: 0 auto;

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }
}

.col-1 {
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-1,
.col-2,
.col-3,
.col-4 {
  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }
}
